* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --bg-color: #000000;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --primary-text-color: #f4f4f4;
  --delete-color : #ff4d4d;

  /* padding variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* border-radius variables */
  --boder-radius-s: 5px;
  --boder-radius-m: 10px;
  --boder-radius-l: 15px;
  --boder-radius-xl: 20px;
  --boder-radius-xxl: 30px;
}
body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
main{
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav button {
  background-color: var(--bg-button-color);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  border-radius: var(--boder-radius-m);
}
button:active{
    scale: 0.95;
}
section{
  flex-grow: 1;
  padding: var(--section-padding);
  display: flex;
  gap: var(--padding-xxl);
  justify-content: space-between;
}
section .task-column{
  background-color: var(--bg-button-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  padding: var(--padding-m);
  border-radius: var(--boder-radius-m);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
section .task-column.hover-over{
border: 2px dashed var(--primary-text-color);
scale: 1.05;
}
section .task-column .heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
section .task-column .task{
  background-color: var(--bg-task-color);
  padding: var(--padding-m);
  border-radius: var(--boder-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  cursor: grab;
}
section .task-column .task button{
   align-self: flex-end;
   cursor: pointer;
   padding: var(--padding-s) var(--padding-m);
   border-radius: var(--boder-radius-s);
   outline: none;
   border: none;
   background-color: var(--delete-color);
   color: var(--primary-text-color);
}